div{
    border:solid 1px black;
    max-width:100vw;
    text-align: center;
}
.titleRed{
text-align: center;
color:rgb(156, 45, 45);
}

.img1{
    width:320px; 
    height:240px;
    margin-top: 20px;
    
}
.img2{
    width:320px; 
    height:240px;
    margin-top: 20px;
}
video{
    margin-top: 20px;
    width:320px; height:240px
}